<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/add_news.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>

       <div class="logo">
        <a href="home.html">
          <span class="use">NEWS</span>-<span class="web">NEWS</span>.ru
        </a>
       </div>


       <div class="top-menu">
         <ul>
             <li><a class="clickMenu" href="/all-news">Все новости</a></li>
             <li><a href="/all-author">Все авторы</a></li>
             <li><a href="/add-news">Добавить новость</a></li>
         </ul>
       </div>

    </header>


    <div class="form_add_news">
    <form class="form_add_news" action="/add-news" method="POST">
{#        по умолчанию форма присылает гет запрос#}
        <br>
        <label for="login">Введите логин существующего автора:</label>
        <div>
            <input type="text" name="login" style="background-color: gray">
        </div>
        <br>
        <label for="content">Контент:</label>
        <div>
            <textarea id="content" name="content" rows="5" cols="33" style="background-color: gray"></textarea>
            <button class="button" type="submit" style="border-radius: 3px; background-color: transparent; width: 30%; height: 10%"> add content! </button>
        </div>
    </form>
    </div>
</body>
</html>