<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="div-auth">
        <h1>Авторизация</h1>
        <form action="/login" method="POST">
    {#        по умолчанию форма присылает гет запрос#}
            <input type="text" name="login" style="background-color: black">
            <input class="button" type="password" name="pass">
            <input class="button" type="submit">
        </form>
    </div>
</body>
</html>